@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_InnerPage.cshtml";
}
<h2>@ViewBag.Title</h2>

<p>This project is about student management system in which data of student can save. First of all, the home page contain four tabs enrolment, course, about and login. The new student can apply for enrolment 
   in college by filling their details in enrolment form. The enrolment data will be saved in enrolment table which only admin can see but can not make changes.</p>
<br />
<br />
<p>The course tab contain the list of available courses with particular year and also contain the prices, duration and session breaks as well.(the link of the couses are taken 
    from the ATC vision college website)</p>

<br />
<br />
<p>The login form contain username and password where admin can login to admin zonal. In the admin zone there is student data table which is fully control
     by the admin. The admin can create the student detal in student data table and can also make changes. If the student is no more connected with the institue admin can delete the 
    student data, if there is any changes come in student profile admin can also edit the details.</p>
