
@{
    ViewBag.Title = "Course";
    Layout = "~/Views/Shared/_InnerPage.cshtml";
}

<h2>Course</h2>

<link rel="stylesheet" href="https://computerpowerplus.ac.nz/stylesheets/skeleton.css">
<link rel="stylesheet" href="https://computerpowerplus.ac.nz/stylesheets/drawer.min.css">
<link rel="stylesheet" href="https://computerpowerplus.ac.nz/stylesheets/backTop.css">
<link rel="stylesheet" href="https://computerpowerplus.ac.nz/stylesheets/style.css">
<link rel="stylesheet" href="https://computerpowerplus.ac.nz/stylesheets/cpp_style.css">

<div>
    <div>
        <div class="twelve columns">
            <div id="tabs" class="htabs"></div>
            <div id="tab-1" class="tab-content">
                <div style="float: left; margin:5px; width: 94%;">
                     <p>ATC Vision college offers a range of IT training courses for International students.  Our full range of courses are listed below. </p>


                    <h3>2019 Single Diploma Programmes</h3>
                    <table class="aqua_table" width="100%">
                        <tbody>
                            <tr>
                                <th width="46%" class="b">Qualification</th>
                                <th width="30%" align="center">
                                    Study Duration +<br>
                                    Study Break
                                </th>
                                <th width="24%" align="center">2019 Qual. Fees</th>
                            </tr>
                            
                            <tr class="odd">
                                <td align="left" valign="top">
                                    <a href="https://visioncollege.ac.nz/study/information-technology/nz-diploma-in-website-development-and-design/"><strong><font color="#0f72a6">New Zealand Diploma in Web Development and Design </font></strong></a><br>
                                    (NZQA Level 5)
                                </td>
                                <td align="center" valign="top">32 Weeks + 6 Weeks</td>
                                <td align="center" valign="top">NZ $17,115</td>
                            </tr>
                            <tr>
                                <td align="left" valign="top">
                                    <a href="https://visioncollege.ac.nz/study/information-technology/new-zealand-diploma-in-software-development/"><strong><font color="#0f72a6">New Zealand Diploma in Software Development</font></strong></a><br>
                                    (NZQA Level 6)
                                </td>
                                <td align="center" valign="top">32 Weeks + 6 Weeks</td>
                                <td align="center" valign="top">NZ $7000</td>
                            </tr>
                            
                        </tbody>
                    </table>

                    <p>
                        Students may apply for a 2-year Post Study Work Visa (Open) if they study outside Auckland or a 1-year Post Study Work Visa (Open) if they study in Auckland. To be eligible for the Post Study Work Visa, ATC vision college students will need to have met one of the following criteria:<br>
                    </p>
                    <ol>
                        <li>Studied in New Zealand a two year programme leading to a qualification at level 4 to 6 for at least 60 weeks (excluding holiday periods); or</li>
                        <li>Studied in New Zealand two qualifications at levels 4 to 6 and studied each qualification for at least 30 weeks, provided the second qualification is at a higher level (60 weeks study in New Zealand in total, excluding holiday periods).</li>
                    </ol>
                    <h5><strong>Please note:</strong></h5>
                    <ul class="dotted">
                        <li>Qualification fees do not include vendor certification exams.</li>
                        <li>If a student fails to pass one of the courses from their qualification they will need to re-enrol in that course and pay the corresponding course fee.</li>
                        <li>Duration is based on full-time study load of 20 hours per week on campus and 10 hours/week home study. </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>




